body{
    margin: 0;
    background-color: lavender;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gameArea{
    width: 25vw;
    height: 50vh;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    color: dimgrey;
    padding: 40px;
    box-shadow: 1px 1px 1px black;

    .title{
        span{
            font-size: 26pt;
        }
    }

    .number{
        width: 15vw;
        display: flex;
        justify-content: space-around;
        font-size: 34pt;
        margin-left: 75px;
    }

    input{
        width: 200px;
        height: 30px;
        border-radius: 5px;
        margin-top: 10px;
    }

    button{
        width: 150px;
        height: 50px;
        font-size: 15pt;
        background-color: lavender;
        color: dimgrey;
        border-radius: 5px;
        border-style: none;
        margin-top: 50px;
        box-shadow: 0.5px 0.5px 0.5px black;

        &:hover{
            background-color: dimgray;
            color: aliceblue;
        }
        &:active{
            background-color: lavender;
            color: aliceblue;
        }
    }

}